*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 30px;
}
section{
    width: 700px;
    height: 600px;
    background-color: rgb(136, 136, 136);
    margin: 0 auto;
    border-radius: 30px;
}
#up{
    width: 700px;
    height: 320px;
}
.selector{
    width: 80px;
    height: 100%;
    float: left;
    padding: 100px 10px;
}
.botones1{
    border-radius: 5px;
    width: 60px;
    height: 30px;
    margin: 10px 0px;
    border: none;
    padding: 8px 20px;
    background: linear-gradient(#5a5a5a,#000000)
}
.botones1:active{
    background: linear-gradient(#000000,#5a5a5a);
}
i{
    color: white;
}

#pantalla{
    float: left;
    padding-top: 10px;
    width: 540px;
    height: 100%;
    border: 10px solid rgb(111, 109, 116);
    border-radius: 10px;
    background-image: linear-gradient(#fbee5f,#f4ebb4);
}

#down{
    width: 700px;
    height: 280px;
}
#operaciones{
    width: 350px;
    height: 100%;
    float: left;
}
#añadidos{
    width: 350px;
    height: 100%;
    float: right;
}
#numeros{
    width: 225px;
    height: 100%;
    padding: 5px;
    float: left;
}
.dig{
    width: 61px;
    height: 56px;
    border-radius: 10px;
    border: none;
    border: 2px solid black;
    background: linear-gradient(#f9f9f9,#aaaaaa);
    font-weight: 900;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    margin: 5px;
}
.dig:active{
    background: linear-gradient(#aaaaaa,#f9f9f9);
}
#botones{
    width: 125px;
    height: 100%;
    float: left;
    padding: 5px;
}
.dog{
    width: 100%;
    height: 56px;
    border: 2px solid black;  
    border-radius: 10px;
    font-weight: bolder;
    font-size: 20px;
    margin: 5px 0px;
}
#cancel{
    background: linear-gradient(#f3090f,#f4030b);
    color: white;
}
#clear{
    background: linear-gradient(#f29c34,#f28f27);
    color: white;
}
#ok{
    background: linear-gradient(#5ab423,#4e991e);
    color: white;
}
#none{
    background-color: #6a6a6a;
    color:#6a6a6a;
}
#añadidos{
    padding: 5px 10px 5px 5px;
}
#card{
    width: 50%;
    height: 33%;
    display: inline-block;
    padding: 0px 10px 0px 5px;
}
#receipt{
    width: 50%;
    height: 33%;
    float:right;
    padding: 0px 5px 0px 10px;
}
#cash{
    width: 100%;
    height: 33%;
    padding: 0px 5px;
}
#deposit{
    width: 100%;
    height: 33%;
    padding: 0px 5px;
}
.caja1{
    width: 100%;
    height: 30%;
    background-color: #747474;
    border-radius: 5px;
    border: 2px solid#5f5f5f;
    padding: 7px;
}
.caja2{
    width: 100%;
    height: 40%;
    background-color: #747474;
    border-radius: 5px;
    border: 2px solid#5f5f5f;
    padding: 11.5px 5px;
}
#cajucha1{
    width: 100%;
    height: 100%;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
}
#cajucha2{
    width: 100%;
    height: 100%;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
}
b{
    color: white;
    font: 400 13.3333px Arial;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 5px ;
    display: inline-block;
}
img{
    width: 100%;
    height: 100%;
}
#titulomenu{
    text-align: center;
    font-size: 40px;
    height: 80px;
    color: #471900;
    font-family: 'Anton', sans-serif;
}
.trderecha{
    border-left: 30px solid #F69200;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    float: left;
}
.trizquierda{
    border-right: 30px solid #F69200;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    float: right;
}
.derecha{
    width: 50%;
    height: 30px;
    margin: 10px 0px;
    float: left;
}
.izquierda{
    height: 30px;
    float: right;
    margin: 10px 0px;
}
.d{
    color: #471900;
    margin: 0;
    font-size: 25px;
    font-family: 'Bangers', cursive;
    margin-top: 5px;
}
.i{
    color: #471900;
    margin: 0;
    margin-top: 5px;
    font-size: 25px;
    font-family: 'Bangers', cursive;
}
#tituloretiro{
    text-align: center;
    font-size: 25px;
    height: 130px;
    color: #471900;
    font-family: 'Anton', sans-serif;
}
#monto{
    background-color: inherit;
    outline: none;
    border: none;
    font-size: 25px;
    font-family: 'Bangers', cursive;
    color: #471900;
    padding-left: 5px;
    width: 150px;
}
#sola{
    color: #471900;
    margin: 0;
    font-size: 25px;
    font-family: 'Bangers', cursive;
}
#titulotfin{
    text-align: center;
    font-size: 40px;
    height: 180px;
    color: #471900;
    font-family: 'Anton', sans-serif;
}
#titulofin2{
    text-align: center;
    font-size: 25px;
    color: #471900;
    font-family: 'Anton', sans-serif; 
}